/*广告轮播*/
.flexslider{position:relative;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:650px;}
.flex-control-nav{position:absolute;left:0;right:0;bottom:10px;z-index:2;height:30px;line-height:30px;padding:0;margin:0;text-align:center;}
.flex-control-nav li{display:inline-block;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:30px;height:7px;line-height:40px;overflow:hidden;background:#b3b3b3;cursor:pointer;}
.flex-control-nav .flex-active{background:#fff;}
.flex-direction-nav{position:absolute;z-index:15;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
/*index圆图*/
.service{padding:40px 0;background:#fff;}
.service_title{padding-bottom:30px;}
.row_one{margin-bottom: 20px;}
.big_link{margin-right:20px;text-align:center;width:285px;background:#f5f4f4;padding:12px 0;height:260px;}
.last_link{margin-right:0;}
.photo_destails h3{color:#4d4d4d;line-height:40px;}
.photo_destails h6{color:#939495;padding-left:100px;text-align:left;line-height:24px;font-size:14px;background:url(../images/quan.png) no-repeat 30% center;}
/*服务流程*/
.title_h2{color:#0365df;text-align:center;}
.title_h6{text-align:center;color:#bfbfbf;margin-top:15px;font-size:14px;}
.plan{background:#0dc28d;padding-bottom:60px;}
.plan_title{padding-top:40px;padding-bottom:60px;}
.plan_title h2{color:#fff;text-align:center;}
.plan_title h6{text-align:center;color:#fff;margin-top:15px;font-size:14px;}
.yuan p{color:#fff;line-height:28px;text-align: center;}
.yuan{width:9%;}
.dajiantou{width:3%;margin:0 0.5%;margin-top:44px;}
.last_yuan{position:relative;}
.last_yuan p{position:absolute;left:-50%;right:-50%;}
/*部分案例*/
.example{background:#f0f0f6;padding-top:30px;padding-bottom:40px;}
.example_photo{margin-top:30px;}
.photo{width:290px;padding:0 10px;background:#fff;padding-top:10px;padding-bottom:20px;}
.photo_row{margin-bottom:10px;}
.photo_row a{display: block;}
.yixiu img{width:270px;}
.yixiu_text h5{color:#4d4d4d;line-height:28px;}
.yixiu_text h6{color:#BFBFBF;line-height:28px;}
.zixun{text-align:center;margin-top:25px;}
.zixun a{border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;-moz--border-radius:5px;display:inline-block;width:80px;height: 30px;line-height:30px;background:#08bd54;color:#fff;text-align:center;font-size:14px;margin:0 auto;}
/*合作伙伴*/
.partner{padding-top:30px;padding-bottom:60px;background:#fff;}
.partner_table{margin-top:30px;}
.partner_table td{text-align:center;}



/*更多案例*/
.more_example{text-align: center;padding-top:30px;}

/*关于我们*/
.big_title h2{padding:40px 0;text-align:center;line-height: 40px;}
.big_title h2 img{height: 40px;vertical-align: middle;}
.big_title h2 span{margin-left:10px;}
.text_we{line-height:28px;font-size: 16px;}
.photo_row2{margin-bottom:20px;}
.small_image{margin-left:20px;}
.small_image2{margin-right:20px;}
.ryzz_ul{text-align:center;}
.ryzz_ul li{font-size:16px;}
.center_li{display:inline-block;margin:0 auto;}
.ryzz_ul li span{color:#ff0000;font-size:24px;}
.ryzz h4{line-height: 40px;}
.map{margin-bottom:100px;}
iframe{border:none;}
/*劳务派遣*/
.labor{background:#f0f0f6;margin-top:100px;padding-bottom:50px;}
.labor_title{text-align:center;padding:40px 0;}
.labor_title h2{margin-bottom:10px;}
.labor_title span{color:#e45d04;}
.labor_con p{font-size:16px;line-height:30px;}
.application{background:#fff;padding-bottom:50px;}
.small_link{width:240px;text-align: center;}
.photo_destails h4{color:#333;margin-top:20px;}
.application_table{background:#f0f0f6;padding-top:40px;padding-bottom:50px;}
.application_table table{width:100%;background:#fff;text-align:center;}
.application_table table thead{background:#007130;height:40px;line-height:40px;}
.application_table table th{color:#fff;font-size:18px;text-align:center;font-weight: bold;}
.application_table td{width:20%;height:30px;line-height:30px;text-align:center;color:#333;border:1px solid #cccccc;font-size:14px;}
.application_table td img{width:22px;}
#n_color{color:#ff0101;}

/*网站制作类*/
.labor_con h5{line-height:28px;text-align: center;}
.relevant{background:#f0f0f6;padding-bottom:50px;}


/*OA系统*/
.release_con{margin-top:100px;text-align: center;}
.release_ul{display:inline-block;margin-bottom: 30px;}
.d_release{font-size: 16px;text-align:center;color:#ff503f;padding:10px 40px;background:#f0f0f6;margin:0 10px;cursor:pointer;}
.release_ul li:hover{color:#FFF;background:#ff503f;}
.release_active{color:#FFF;background:#ff503f;}
.content1,.content2,.content3,.content4{background:#f0f0f6;display:none;}
.content_text{padding:30px 0;}
.content_text p{line-height: 28px;font-size: 16px;}
.relevant_example{text-align: center;}
.photo_parent{display:inline-block;}
.yidong{ padding-left:20px;font-size: 16px;line-height: 28px;background:url(../images/dian.jpg) no-repeat 10px center;background-size:4px;}
.d_active{display: block;}
.release_li{color:#FFF;background:#ff503f;}


/*易修来了*/
.project_name{height:180px;margin-top:120px;}
.project_name h1{font-size: 48px;color:#333;margin-top:54px;}
.project_name h3{font-size: 24px;color:#333;margin-top:24px;}
.bus{background-color:#f0f9fd;border-top:1px solid #66c4e8;}
.bus_con{text-align: center;font-size: 24px;color: #474747;height:100px;line-height: 100px;background-image:url("../images/xian.png"),url("../images/xian.png");background-repeat:no-repeat;background-position:left center,right center;background-size:100px;}
.time_parent{background:#c4e8f6;padding:10px;height:180px;width:180px;}
#time{background: #60c2e7;height:100%;width:100%;font-size: 20px;color:#fff;text-align: center;padding:35px 0;}




/*核算报价*/
.hesuan_con{width:1000px;margin:0 auto;}
.hesuan_con h1{text-align: center;font-size:30px;height:80px;line-height: 80px;border-bottom:1px solid #999999;}
.hesuan_tab{width:550px;margin:0 auto;margin-top:30px;}
.hesuan_tab span{width:100px;font-size:20px;margin:0;display: inline-block;}
.select{position:relative;display:inline-block;height:35px;vertical-align: middle;width:380px;}
.select dt{font-size:16px;color:#999999;height:35px;display:inline-block;border:1px solid #d2ccc4;background:url(../images/bjt.png) no-repeat 97% center;background-size:25px 25px;line-height:35px;cursor:pointer;width:100%;padding:0 10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:relative;z-index:99;}
.select dt:hover,.select dt.cur{border:1px solid #409DFE;box-shadow:0 0 3px #409DFE;}
.select dd{width:50%;position:absolute;right:0;top:35px;border:1px solid #d2ccc4;background:#fff;display:none;}
.select dd ul{padding:4px;width:100%;max-height:250px;overflow:auto;}
dt{font-weight: normal;}
.select dd ul li a{line-height:28px;font-size:16px;display:block;padding:0 8px;color:#494949;}
.select dd ul li a:hover{background:#dbeffc;}
.select_son{z-index: 20;background: #fff;border: 1px solid #e6e6e6;margin-top: -2px;height: 40px;line-height: 40px;display: none;position: absolute;top: 30px;left: -1px;}
.hesuan_tab input{font-size:16px;height:35px;width:380px;border:1px solid #d2ccc4;padding:0 10px;}
::-webkit-input-placeholder {/*Chrome/Safari*/
  color:#999999;
}
: :-moz-placeholder {/*Firefox*/
 color:#999999;
}
: :-ms-input-placeholder {/*IE*/
   color:#999999;
} 
.hesuan_tab em{display: inline-block;vertical-align: middle;color:#f00;font-style: normal;margin-left:10px;}
.hesuan_tab label{font-size:20px;margin:0;display:block;font-weight: normal;}
.hesuan_tab textarea{width:480px;height:200px;overflow: auto;}
.hesuan_btn{margin-bottom:40px;display:inline-block;width:480px;height:35px;line-height: 35px;background:#0784d6;color:#fff;text-align: center;font-size:16px;}