#back-top {
  bottom: 70px;
}
@media (max-width: 768px) {
  footer {
    display: none;
  }
}
#ft_course_detail .banner .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: 500;
}
#ft_course_detail .banner .course {
  padding: 0;
  margin: 0 20px;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}
#ft_course_detail .banner .course .content .course_serve i {
  display: none;
}
#ft_course_detail .course_choose .content .tab_nav li span {
  display: block;
  width: 100%;
  height: 100%;
}
#ft_course_detail .course_choose .content .tab_nav .title {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin: 10px 0;
}
#ft_course_detail .course_choose .content .tab_nav .area ul {
  margin: 15px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
#ft_course_detail .course_choose .content .tab_nav .area ul li {
  background-color: #E5E5E5;
  border-radius: 5px;
  margin-right: 25px;
}
#ft_course_detail .course_choose .content .tab_nav .area ul li.current {
  background-color: #ED9324;
  color: white;
}
#ft_course_detail .course_choose .content .tab_nav .times {
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%;
  min-height: 200px;
}
#ft_course_detail .course_choose .content .tab_nav .times table {
  width: 100%;
  height: 100%;
}
#ft_course_detail .course_choose .content .tab_nav .times table th {
  text-align: center;
}
#ft_course_detail .course_choose .content .tab_nav .times table thead {
  height: 38px;
  line-height: 38px;
  font-size: 18px;
}
#ft_course_detail .course_choose .content .tab_nav .times table tbody th {
  font-size: 18px;
  width: 100px;
  padding: 5px;
}
#ft_course_detail .course_choose .content .tab_nav .times table tbody td {
  position: relative;
  transition: .8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#ft_course_detail .course_choose .content .tab_nav .times table tbody td .hour {
  position: absolute;
  top: 0;
  background: #ED9324;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#ft_course_detail .course_choose .content .tab_nav .times table tbody td .state {
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#ft_course_detail .course_choose .content .tab_nav .times tr td {
  text-align: center;
}
#ft_course_detail .course_choose .content .tab_nav .times tr td span {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 2em;
  padding: 5px;
}
#ft_course_detail .course_choose .content .tab_nav .times tr td span.hot {
  color: #E44141;
}
#ft_course_detail .course_choose .content .tab_nav .times tr td span.full {
  color: #919494;
}
#ft_course_detail .course_choose .content .tab_nav .times tr td span.current {
  background-color: #ED9324;
  color: white;
}
#ft_course_detail .course_choose .content .tab_nav .times tr td.current {
  background-color: #ED9324;
}
#ft_course_detail .course_choose .content .tab_nav .times tr td.current span {
  color: white;
}
#ft_course_detail .course_choose .content .tab_nav .teacher li.current {
  background-color: #ED9324;
  color: white;
}
#ft_course_detail .course_hot {
  background-color: #E5EEF0;
  padding-bottom: 20px;
}
#ft_course_detail .course_hot .course_head h2 {
  margin: 20px 0;
}
#ft_course_detail .course_hot .num {
  margin: 0 10px;
  font-size: 50px;
  font-family: ftFont;
  color: #F7941D;
}
#ft_course_detail .course_hot .content .list {
  text-align: center;
  background-color: white;
  overflow: hidden;
  margin: 0 20px;
}
#ft_course_detail .course_hot .content .list .head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 120px;
  border-bottom: 1px solid #EEF3F4;
}
#ft_course_detail .course_hot .content .list .head span {
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 12px;
  left: -35px;
  width: 120px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #E20000;
  color: white;
}
#ft_course_detail .course_hot .content .list .head h4 {
  width: 100%;
  height: 65px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  border-bottom: 1px solid #EEF3F4;
  margin: 0;
  padding: 30px 0;
}
#ft_course_detail .course_hot .content .list .head .line {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 64px;
  margin-left: -55px;
  height: 1px;
  background-color: red;
}
#ft_course_detail .course_hot .content .list .head p {
  text-align: center;
  font-size: 24px;
  font-family: Tahoma;
  letter-spacing: 2px;
  color: black;
  margin: 0;
}
#ft_course_detail .course_hot .content .list .message {
  margin-top: 140px;
}
#ft_course_detail .course_hot .content .list .message .time {
  margin-bottom: 26px;
  font-size: 12px;
}
#ft_course_detail .course_hot .content .list .message .video {
  width: 90%;
  height: 110px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px #888888;
  position: relative;
}
#ft_course_detail .course_hot .content .list .message .video .blue {
  margin-top: 35px;
  color: #005896;
  font-weight: 700;
}
#ft_course_detail .course_hot .content .list .message .video .black {
  color: black;
  font-weight: 700;
  margin-top: 5px;
}
#ft_course_detail .course_hot .content .list .message .video span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #29C2E1;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 8px;
  padding-left: 6px;
  border: 1px solid #eee;
  background-color: rgba(250, 250, 250, 0.2);
  box-shadow: 0px 0px 20px #B9B9B9;
}
#ft_course_detail .course_hot .content .list .message .video span:before {
  opacity: 0.6;
}
#ft_course_detail .course_hot .content .list a {
  padding: 10px;
  display: block;
  width: 120px;
  line-height: 1;
  margin: 15px auto;
  cursor: pointer;
}
@media (min-width: 769px) {
  #ft_course_detail {
    margin-top: 80px;
  }
  #ft_course_detail .banner {
    background: url(../../images/uploads/course_center.jpg) center;
  }
  #ft_course_detail .banner .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #ft_course_detail .banner .video img {
    border-radius: 10px;
  }
  #ft_course_detail .banner .video .introduce {
    display: none;
    position: fixed;
    width: 800px;
    left: 50%;
    top: 118px;
    -webkit-transform: translate(-50%, 5%);
    -ms-transform: translate(-50%, 5%);
    transform: translate(-50%, 5%);
    z-index: 33;
  }
  #ft_course_detail .banner .course h2 {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 38px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  #ft_course_detail .banner .course .content {
    position: relative;
    padding: 10px 0;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #ft_course_detail .banner .course .content .course_price {
    float: left;
  }
  #ft_course_detail .banner .course .content li {
    height: 40px;
    line-height: 40px;
  }
  #ft_course_detail .banner .course .content li .price {
    font-size: 22px;
    margin-right: 30px;
    color: #EF0506;
  }
  #ft_course_detail .banner .course .content li .time {
    font-size: 20px;
    color: #232323;
  }
  #ft_course_detail .banner .course .content li .list {
    border: 1px solid #777;
    border-radius: 10px;
    padding: 0px 5px;
    margin-right: 5px;
  }
  #ft_course_detail .banner .course .content .title {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    color: #080808;
    text-align: justify;
    margin-right: 20px;
  }
  #ft_course_detail .banner .course .content .status {
    display: inline-block;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 24px 0 0 24px;
    color: white;
    background-color: #ED0505;
    position: absolute;
    top: 10px;
    right: 0;
  }
  #ft_course_detail .course_choose {
    position: relative;
  }
  #ft_course_detail .course_choose .content {
    margin-top: 120px;
  }
  #ft_course_detail .course_choose .content li {
    cursor: pointer;
  }
  #ft_course_detail .course_choose .tab_nav .area li {
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    font-size: 18px;
  }
  #ft_course_detail .course_choose .tab_nav .teacher ul {
    margin: 15px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #ft_course_detail .course_choose .tab_nav .teacher ul li {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    background-color: #E5E5E5;
    border-radius: 5px;
    margin: 10px 25px 20px 0;
  }
  #ft_course_detail .course_choose .tab_nav .teacher ul li span {
    padding: 0px 20px;
    font-size: 18px;
  }
  #ft_course_detail .course_choose .tab_nav .times {
    margin-bottom: 20px;
  }
  #ft_course_detail .course_choose .tab_nav .times td:hover,
  #ft_course_detail .course_choose .tab_nav .times td.current {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  #ft_course_detail .course_choose .bottom {
    background-color: #eee;
    height: 70px;
    line-height: 70px;
    font-size: 26px;
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #ft_course_detail .course_choose .bottom .container {
    position: relative;
  }
  #ft_course_detail .course_choose .bottom .tab_result {
    width: 100%;
    float: left;
  }
  #ft_course_detail .course_choose .bottom .tab_result .amount {
    float: left;
    padding: 0 20px;
    margin-right: 20px;
    font-size: 24px;
  }
  #ft_course_detail .course_choose .bottom .tab_result .amount .num {
    font-family: ftFont;
    font-size: 30px;
    color: #ED9324;
  }
  #ft_course_detail .course_choose .bottom .tab_result .chose span {
    float: left;
    font-size: 26px;
  }
  #ft_course_detail .course_choose .bottom .tab_result .chose ul {
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  #ft_course_detail .course_choose .bottom .tab_result .chose ul li {
    margin: 20px 5px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ED9324;
    color: white;
  }
  #ft_course_detail .course_choose .bottom .course_enter {
    position: absolute;
    top: 0px;
    right: 20px;
  }
  #ft_course_detail .course_choose .bottom .course_enter .ft_btn {
    padding: 5px 40px;
    letter-spacing: 5px;
    background-color: #29C2E1;
    border-radius: 10px;
    cursor: pointer;
    color: white;
  }
  #ft_course_detail .course_choose .bottom.fixed {
    width: 100%;
    position: fixed;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #ft_course_detail .course_hot .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  #ft_course_detail {
    margin: 50px 0;
  }
  #ft_course_detail .course_nav {
    z-index: 999;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: white;
  }
  #ft_course_detail .course_nav ul {
    width: 90%;
    margin: 10px auto;
    height: 30px;
    border: 1px solid #54C3E1;
    border-radius: 5px;
    overflow: hidden;
    line-height: 30px;
  }
  #ft_course_detail .course_nav ul li {
    height: 28px;
    background-color: white;
    width: 33%;
    float: left;
    text-align: center;
  }
  #ft_course_detail .course_nav ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #54C3E1;
  }
  #ft_course_detail .course_nav ul li a.active {
    color: #fff;
    background-color: #54C3E1;
  }
  #ft_course_detail .banner {
    margin-top: 100px;
    padding: 0;
  }
  #ft_course_detail .banner .container {
    padding: 0;
  }
  #ft_course_detail .banner .video {
    width: 100%;
    padding: 0;
  }
  #ft_course_detail .banner .video img {
    width: 100%;
  }
  #ft_course_detail .banner .video .introduce {
    position: fixed;
    top: 100px;
    left: 0;
    display: none;
    z-index: 33;
  }
  #ft_course_detail .banner .video .introduce .close {
    top: -3px;
  }
  #ft_course_detail .banner .course {
    margin: 0 10px;
    border-bottom: 1px solid #9F9D9C;
    padding-bottom: 10px;
    border-radius: 0;
  }
  #ft_course_detail .banner .course h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
  #ft_course_detail .banner .course .content .status {
    position: absolute;
    display: block;
    top: 55px;
    right: 15px;
    width: 110px;
    height: 35px;
    line-height: 35px;
    border-radius: 18.5px;
    color: white;
    background-color: #DF0C10;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  #ft_course_detail .banner .course .content li {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
  }
  #ft_course_detail .banner .course .content .course_price {
    font-size: 22px;
    color: #DF0C10;
    margin-bottom: 25px;
  }
  #ft_course_detail .banner .course .content .course_time {
    float: left;
  }
  #ft_course_detail .banner .course .content .course_rate {
    float: right;
    margin-right: 20px;
  }
  #ft_course_detail .banner .course .content .course_day {
    margin-top: 60px;
    padding-bottom: 10px;
    box-sizing: content-box;
    border-bottom: 1px solid #9F9D9C;
  }
  #ft_course_detail .banner .course .content .course_serve {
    height: auto;
    width: 100%;
    margin-top: 10px;
  }
  #ft_course_detail .banner .course .content .course_serve span {
    display: inline-block;
    width: 32%;
    text-align: center;
    height: 20px;
    line-height: 20px;
  }
  #ft_course_detail .banner .course .content .course_serve span i {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    color: #E54849;
  }
  #ft_course_detail .course_choose {
    margin: 20px 0;
  }
  #ft_course_detail .course_choose .content .tab_nav .area ul {
    margin: 10px 0;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #ft_course_detail .course_choose .content .tab_nav .area ul li {
    padding: 5px 20px;
    background-color: #E5E5E5;
    border-radius: 5px;
    margin-right: 0;
  }
  #ft_course_detail .course_choose .content .tab_nav .teacher ul {
    margin: 10px 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #ft_course_detail .course_choose .content .tab_nav .teacher ul li {
    height: 30px;
    background-color: #E5E5E5;
    border-radius: 5px;
    margin: 8px;
    overflow: hidden;
  }
  #ft_course_detail .course_choose .content .tab_nav .teacher ul li span {
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
  }
  #ft_course_detail .course_choose .content .tab_nav .times {
    margin: 20px 0;
    width: 100%;
    min-height: 200px;
  }
  #ft_course_detail .course_choose .content .tab_nav .times table {
    width: 100%;
    height: 100%;
  }
  #ft_course_detail .course_choose .content .tab_nav .times table th {
    text-align: center;
  }
  #ft_course_detail .course_choose .content .tab_nav .times table th .hour {
    display: none;
  }
  #ft_course_detail .course_choose .content .tab_nav .times table tbody th {
    font-size: 14px;
    width: 14px;
    padding: 5px;
  }
  #ft_course_detail .course_choose .content .tab_nav .times tr td {
    text-align: center;
    cursor: pointer;
  }
  #ft_course_detail .course_choose .content .tab_nav .times tr td span {
    font-size: 13px;
    padding: 0;
    height: 50px;
    line-height: 50px;
  }
  #ft_course_detail .course_choose .content .tab_nav .times tr td .hour {
    display: none;
  }
  #ft_course_detail .course_choose .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    color: white;
    letter-spacing: 3px;
    z-index: 999;
  }
  #ft_course_detail .course_choose .bottom .container {
    padding: 0;
  }
  #ft_course_detail .course_choose .bottom .tab_result {
    width: 63%;
    float: left;
    background-color: #ED9324;
    height: 50px;
  }
  #ft_course_detail .course_choose .bottom .tab_result .amount {
    line-height: 50px;
    font-size: 22px;
    padding-left: 10px;
  }
  #ft_course_detail .course_choose .bottom .tab_result .chose {
    display: none;
  }
  #ft_course_detail .course_choose .bottom .tab_result .chose span {
    display: none;
  }
  #ft_course_detail .course_choose .bottom .tab_result .chose ul {
    height: 50px;
    padding: 2px 10px;
    letter-spacing: 2px;
  }
  #ft_course_detail .course_choose .bottom .tab_result .chose ul li {
    font-size: 16px;
    height: 24px;
    line-height: 24px;
  }
  #ft_course_detail .course_choose .bottom .tab_result .chose ul li:first-child {
    float: left;
    margin-right: 10px;
  }
  #ft_course_detail .course_choose .bottom .course_enter {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    background-color: #54C3E1;
  }
  #ft_course_detail .course_choose .bottom .course_enter a {
    padding: 9px 15px;
    color: white;
  }
  #ft_course_detail .course_desc {
    margin: 20px 0;
  }
  #ft_course_detail .course_brief {
    margin: 20px 0;
  }
  #ft_course_detail .course_hot .content .list {
    margin: 0;
    margin-bottom: 20px;
  }
  #ft_course_detail .course_hot .content .list .head p {
    margin: 0;
  }
}
